<!-- template -->
{% extends "template.html" %} 


<!-- category -->
 {% block category %} 
 <div class=" border-left px-3 text-green-100 hover:text-green-300 relative">
    <div class="flex items-center gap-2 cursor-pointer hidden  xl:flex category-btn" >
        <p class="flex items-center text-xl cursor-pointer ">Category</p>
        <i class="fa-solid fa-chevron-down"></i>
        <!-- list category -->
        <ul class=" bg-white text-green-800 absolute rounded w-[150px]  items-start flex-col text-end py-3 ps-5 text-lg shadow-xl/20 category" >
            <li class="mb-3 mt-1 hover:text-green-600"><a href="">Profile</a></li>
            <li class="mb-3 hover:text-green-600"><a href="">Plant seed</a></li>
            <li class="mb-3 hover:text-green-600"><a href="">Guide</a></li>
            <li class="mb-3 hover:text-green-600"><a href="">contact</a></li>
            <li class="mb-2 text-red-600 hover:text-red-500 ">
            <a href="/logout" ><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>logout</a></li>
        </ul>
    </div>    
</div>
 {% endblock%}

<!-- profile -->
 {% block profile %}
    <div class="items-center justify-between  ps-3 border border-green-100 rounded hidden   md:w-md  lg:w-xl lg:flex" >
        <input type="text" name="search" id="search" placeholder="Cari Tanaman Anda . . ." class="text-green-100  w-full ">
         <button class="text-green-800  cursor-pointer  hover:bg-green-300 bg-green-100 py-2 px-3"><i class="fa-solid fa-magnifying-glass "></i></button>
    </div>
    {% if user.is_authenticated %}
    <div class="flex justify-center items-center relative ms-4">
        <i class="fa-solid fa-circle-user text-green-100 text-3xl cursor-pointer transition duration-300 ease hover:text-green-300 md:text-4xl" id="profile"></i>
        <ul class=" bg-white text-green-800 absolute rounded w-[150px] hidden items-end flex-col text-end py-3 pe-5 text-lg menu shadow-xl/20" id="menu">
            <li class="mb-3 mt-1 hover:text-green-600"><a href="">Profile</a></li>
            <li class="mb-3 hover:text-green-600"><a href="">Plant seed</a></li>
            <li class="mb-3 hover:text-green-600"><a href="">Guide</a></li>
            <li class="mb-3 hover:text-green-600"><a href="">contact</a></li>
            <li class="mb-2 text-red-600 hover:text-red-500 ">
            <a href="/logout" ><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>logout</a></li>
        </ul>
    </div>
    {% else %}
    <div class="flex  cursor-pointer">
        <button class=" hover:text-green-300 py-1 px-2 rounded mx-2 text-green-100  text-base md:py-2 md:px-4"><a href="/login">log in</a></button>
        <button class=" hover:bg-green-300 rounded  py-1 px-2 bg-green-100 text-green-800 text-base md:py-2 md:px-4"><a href="/signup">sign up</a></button>
    </div>
    {% endif %}
 {% endblock%}

<!-- content -->
 {% block content %} 
  <section class="z-10 w-screen h-screen bg-green-100 flex justify-start flex-col  items-start lg:justify-center lg:items-center">
        <div class="flex mt-20 px-8 w-full md:mt-25 md:px-8 xl:w-6xl">
            <div class="w-full h-[200px] bg-green-800  rounded-lg  sm:h-[250px] md:h-[300px] lg:w-3/4 lg:h-[400px]"></div>
            <div class="w-2/4 h-[400px] rounded-lg grid grid-flow-col hidden lg:grid">
                <div class="col-12 bg-green-800 w-sm  mb-2  rounded">
                    <div class=" "></div>
                </div>
                <div class="col-12 bg-green-800 w-sm mb-2 mt-2 rounded">
                    <div class=" "></div>
                </div>
                <div class="col-12 bg-green-800 w-sm mt-2 rounded">
                    <div class=" "></div>
                </div>
            </div>
        </div>
        <div class="w-full h-[100px]  mt-3 rounded flex items-center justify-center lg:justify-between md:px-8 xl:w-6xl">
            <div class="flex items-center w-full justify-between px-8 lg:w-3/5 lg:px-0 ">
                <div class="flex items-center justify-center  p-1 rounded flex-col hover:text-green-600 text-green-800 cursor-pointer transition  duration-300 ease">
                    <i class="fa-solid fa-plant-wilt text-md md:text-1xl lg:text-2xl "></i>
                    <p class=" mt-1">plant</p>
                </div>
                <div class="flex items-center justify-center  p-1 rounded flex-col hover:text-green-600 text-green-800 cursor-pointer transition  duration-300 ease">
                    <i class="fa-regular fa-clipboard text-md md:text-1xl lg:text-2xl "></i>
                    <p class=" mt-1">Guide</p>
                </div>
                <div class="flex items-center justify-center  p-1 rounded flex-col hover:text-green-600 text-green-800 cursor-pointer transition  duration-300 ease">
                    <i class="fa-solid fa-bottle-water text-md md:text-1xl lg:text-2xl "></i>
                    <p class=" mt-1">Booster</p>
                </div>
                <div class="flex items-center justify-center  p-1 rounded flex-col hover:text-green-600 text-green-800 cursor-pointer transition  duration-300 ease">
                    <i class="fa-solid fa-seedling text-md md:text-1xl lg:text-2xl "></i>
                    <p class=" mt-1">Seed</p>
                </div>
                <div class="hidden items-center justify-center  p-1 rounded flex-col hover:text-green-600 text-green-800 cursor-pointer transition  duration-300 ease md:flex">
                    <i class="fa-regular fa-comments text-md md:text-1xl lg:text-2xl "></i>
                    <p class=" mt-1">Comunity</p>
                </div>
                <div class="flex items-center justify-center  p-1 rounded flex-col hover:text-green-600 text-green-800 cursor-pointer transition  duration-300 ease lg:text-red-500 md:text-yellow-500">
                    <i class="fa-solid fa-hands-praying text-md md:text-1xl lg:text-2xl "></i>
                    <p class=" mt-1 ">Donation</p>
                </div>
            </div>
            <a href="#" class="hidden items-center justify-end w-2/5 pe-3 gap-2 text-green-800  transition duration-300 ease hover:text-green-600 lg:flex">
                <span class="text-lg">Find Other</span>
                <i class="fa-solid fa-angles-right"></i>
            </a>
        </div>
    </section>
 {% endblock%}