<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link Tailwind css CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- link icon cdn -->
     <script src="https://kit.fontawesome.com/5807260d74.js" crossorigin="anonymous"></script>
    <title>Beranda</title>
    <link rel="icon" href="{{ url_for('static', filename='Asset/logo.png')}}" type="image/x-icon">
    <style>
        body {
            height: 200vh;
            width: 100vw;
            overflow-x: hidden;
            
        }
        .border-right {
            border-right: 2px solid rgb(24, 185, 91);
            border-radius: 1px;
        }
        .border-left {
            border-left: 2px solid rgb(24, 185, 91);
            border-radius: 1px;
        }
        #search {
            outline: none;
        }

    </style>
</head>
<body class="bg-green-100 relative">
    
    <nav class="w-screen absolute z-999 justify-center flex py-3 px-5 bg-green-800 ">
        <div class="flex w-full items-center justify-between  xl:w-6xl">
            <div class="flex items-center">
                <a href="/" class="pe-3 text-green-100 text-3xl font-serif hover:text-green-300 cursor-pointer  md:text-4xl lg:text-4xl xl:text-5xl">GPLANT</a>
                <div class=" border-left px-3 text-green-100 hover:text-green-300">
                    <div class="flex items-center gap-2 cursor-pointer hidden  xl:flex">
                        <p class="flex items-center text-xl cursor-pointer ">Category</p>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-between">
                <div class="items-center justify-between  ps-3 border border-green-100 rounded hidden   md:w-md  lg:w-xl lg:flex" >
                    <input type="text" name="search" id="search" placeholder="Cari Tanaman Anda . . ." class="text-green-100  w-full ">
                    <button class="text-green-800  cursor-pointer  hover:bg-green-300 bg-green-100 py-2 px-3"><i class="fa-solid fa-magnifying-glass "></i></button>
                </div>
                <div class="flex  cursor-pointer">
                    <button class=" hover:text-green-300 py-1 px-2 rounded mx-2 text-green-100  text-base md:py-2 md:px-4"><a href="/login">log in</a></button>
                    <button class=" hover:bg-green-300 rounded  py-1 px-2 bg-green-100 text-green-800 text-base md:py-2 md:px-4"><a href="/signup">sign up</a></button>
                </div>
            </div>
            
        </div>
        
        
    </nav>

    <section class="z-10 w-screen h-screen bg-green-100 flex justify-start flex-col  items-start lg:justify-center lg:items-center">
        <div class="flex mt-20 px-8 w-full md:mt-25 md:px-8 xl:w-6xl">
            <div class="w-full h-[200px] bg-green-800  rounded-lg  sm:h-[250px] md:h-[300px] lg:w-3/4 lg:h-[400px]"></div>
            <div class="w-2/4 h-[400px] rounded-lg grid grid-flow-col hidden lg:grid">
                <div class="col-12 bg-green-800 w-sm  mb-2  rounded">
                    <div class=" "></div>
                </div>
                <div class="col-12 bg-green-800 w-sm mb-2 mt-2 rounded">
                    <div class=" "></div>
                </div>
                <div class="col-12 bg-green-800 w-sm mt-2 rounded">
                    <div class=" "></div>
                </div>
            </div>
        </div>
        <div class="w-full h-[100px]  mt-3 rounded flex items-center justify-center lg:justify-between md:px-8 xl:w-6xl">
            <div class="flex items-center w-full justify-between px-8 lg:w-3/5 lg:px-0 ">
                <div class="flex items-center justify-center  p-1 rounded flex-col hover:text-green-600 text-green-800 cursor-pointer transition  duration-300 ease">
                    <i class="fa-solid fa-plant-wilt text-md md:text-1xl lg:text-2xl "></i>
                    <p class=" mt-1">plant</p>
                </div>
                <div class="flex items-center justify-center  p-1 rounded flex-col hover:text-green-600 text-green-800 cursor-pointer transition  duration-300 ease">
                    <i class="fa-regular fa-clipboard text-md md:text-1xl lg:text-2xl "></i>
                    <p class=" mt-1">Guide</p>
                </div>
                <div class="flex items-center justify-center  p-1 rounded flex-col hover:text-green-600 text-green-800 cursor-pointer transition  duration-300 ease">
                    <i class="fa-solid fa-bottle-water text-md md:text-1xl lg:text-2xl "></i>
                    <p class=" mt-1">Booster</p>
                </div>
                <div class="flex items-center justify-center  p-1 rounded flex-col hover:text-green-600 text-green-800 cursor-pointer transition  duration-300 ease">
                    <i class="fa-solid fa-seedling text-md md:text-1xl lg:text-2xl "></i>
                    <p class=" mt-1">Seed</p>
                </div>
                <div class="hidden items-center justify-center  p-1 rounded flex-col hover:text-green-600 text-green-800 cursor-pointer transition  duration-300 ease md:flex">
                    <i class="fa-regular fa-comments text-md md:text-1xl lg:text-2xl "></i>
                    <p class=" mt-1">Comunity</p>
                </div>
                <div class="flex items-center justify-center  p-1 rounded flex-col hover:text-green-600 text-green-800 cursor-pointer transition  duration-300 ease lg:text-red-500 md:text-yellow-500">
                    <i class="fa-solid fa-hands-praying text-md md:text-1xl lg:text-2xl "></i>
                    <p class=" mt-1 ">Donation</p>
                </div>
            </div>
            <a href="#" class="hidden items-center justify-end w-2/5 pe-3 gap-2 text-green-800  transition duration-300 ease hover:text-green-600 lg:flex">
                <span class="text-lg">Find Other</span>
                <i class="fa-solid fa-angles-right"></i>

            </a>
        </div>
    </section>

    <footer class="flex bottom-0 absolute w-full px-5 py-4 items-center justify-center bg-green-800 ">
        <div class="flex items-center justify-between w-full lg:w-6xl ">
            <div class="flex">
                <a href="#about" class="border-right px-3 text-green-100 hover:text-green-300 text-sm md:text-base ">About Us</a>
                <a href="#product" class="border-right px-3 text-green-100 hover:text-green-300 text-sm md:text-base hidden md:flex">Find Plant</a>
                <div class="flex cursor-pointer px-3 gap-2 text-green-100  ">
                    <p class="text-sm md:text-base">Follow Gplant</p>
                    <div class="flex items-center gap-1">
                        <i class="fa-brands fa-instagram text-green-100 hover:text-green-300 text-sm md:text-base" ></i>
                        <i class="fa-brands fa-x-twitter text-green-100 hover:text-green-300 text-sm md:text-base"></i>
                        <i class="fa-brands fa-tiktok text-green-100 hover:text-green-300 text-sm md:text-base"></i>
                    </div>
                </div>
            </div>
            <div class="flex ">
                <button class="border-right px-3 text-green-100 hover:text-green-300 text-sm md:text-base"><a href="/login">log in</a></button>
                <button class=" px-3 text-green-100 hover:text-green-300 text-sm md:text-base"><a href="/signup">sign up</a></button>
                
            </div>
        </div>
    </footer>

    <script 
    type="text/javascript" 
    src="{{ url_for('static', filename='index.js') }}">

    </script>
</body>
</html>