<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link Tailwind css CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- link icon cdn -->
    <script src="https://kit.fontawesome.com/5807260d74.js" crossorigin="anonymous"></script>
    
    <title>{% block tittle %}Home{% endblock%}</title>
    <link rel="icon" href="{{ url_for('static', filename='Asset/logo.png')}}" type="image/x-icon">
    <style>
        body {
            
            width: 100vw;
            overflow-x: hidden;
            
        }
        .border-right {
            border-right: 2px solid rgb(24, 185, 91);
            border-radius: 1px;
        }
        .border-left {
            border-left: 2px solid rgb(24, 185, 91);
            border-radius: 1px;
        }
        #search {
            outline: none;
        }

    </style>
</head>
<body class="bg-green-100 relative">

    <!-- notifikasi pakek flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'failed' %}
                    <div id="modal" class="fixed inset-0 absolute bg-black/60 flex items-center  justify-center z-999">
                        <!-- Box Modal -->
                        <div class="bg-white w-sm flex flex-col items-center justify-start rounded-lg shadow-lg relative ">
                            <div class="flex bg-red-600 items-center justify-center p-5 w-full rounded-t-lg">
                                <i class="fa-solid fa-triangle-exclamation text-white text-6xl"></i>
                            </div>
                            <div class="flex p-10 text-center flex-col justify-center items-center">
                                <h2 class="text-2xl text-green-800 font-semibold uppercase mb-5 ">notification !!!</h2>
                                <p class="text-md text-green-950 mb-7 capitalize">
                                    {{ message }}
                                </p>
                                    <!-- Tombol Close -->
                                <button onclick="closeModal()" class="cursor-pointer w-[200px] bg-red-600  py-2 rounded text-white hover:bg-red-700 text-xl mt-5"> 
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div id="modal" class="fixed inset-0 absolute bg-black/60 flex items-center  justify-center z-999">
                        <!-- Box Modal -->
                        <div class="bg-white w-sm flex flex-col items-center justify-start rounded-lg shadow-lg relative ">
                            <div class="flex bg-green-400 items-center justify-center p-5 w-full rounded-t-lg">
                                <i class="fa-solid fa-triangle-exclamation text-white text-6xl"></i>
                            </div>
                            <div class="flex p-10 text-center flex-col justify-center items-center">
                                <h2 class="text-2xl text-green-800 font-semibold uppercase mb-5 ">notification !!!</h2>
                                <p class="text-md text-green-950 mb-7 capitalize">
                                    {{ message }}
                                </p>
                                    <!-- Tombol Close -->
                                <button onclick="closeModal()" class="cursor-pointer w-[200px] bg-green-400  py-2 rounded text-white hover:bg-green-400 text-xl mt-5"> 
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                {% endif %}    
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <nav class="w-screen absolute z-990 justify-center flex py-3 px-5 bg-green-800 ">
        <div class="flex w-full items-center justify-between  xl:w-6xl">
            <div class="flex items-center">
                <a href="/" class="pe-3 text-green-100 text-3xl font-serif hover:text-green-300 cursor-pointer  md:text-4xl lg:text-4xl xl:text-5xl">GPLANT</a>
                <div class=" border-left px-3 text-green-100 hover:text-green-300">
                    <div class="flex items-center gap-2 cursor-pointer hidden  xl:flex">
                        <p class="flex items-center text-xl cursor-pointer ">Category</p>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-between">
                <div class="items-center justify-between  ps-3 border border-green-100 rounded hidden   md:w-md  lg:w-xl lg:flex" >
                    <input type="text" name="search" id="search" placeholder="Cari Tanaman Anda . . ." class="text-green-100  w-full ">
                    <button class="text-green-800  cursor-pointer  hover:bg-green-300 bg-green-100 py-2 px-3"><i class="fa-solid fa-magnifying-glass "></i></button>
                </div>
                <div class="flex  cursor-pointer">
                    <button class=" hover:text-green-300 py-1 px-2 rounded mx-2 text-green-100  text-base md:py-2 md:px-4"><a href="/login">log in</a></button>
                    <button class=" hover:bg-green-300 rounded  py-1 px-2 bg-green-100 text-green-800 text-base md:py-2 md:px-4"><a href="/signup">sign up</a></button>
                </div>
            </div>
            
        </div>
    </nav>

    



    <section class="w-screen h-screen flex flex-col justify-center items-center">
        {% block content %} {% endblock %}
    </section>

    <footer class="flex bottom-0 mt-0 w-full px-5 py-2 items-center justify-center bg-green-800  ">
        <div class="flex items-center justify-between w-full lg:w-6xl ">
            <div class="flex">
                <a href="#about" class="border-right px-3 text-green-100 hover:text-green-300 text-sm md:text-base ">About Us</a>
                <a href="#product" class="border-right px-3 text-green-100 hover:text-green-300 text-sm md:text-base hidden md:flex">Find Plant</a>
                <div class="flex cursor-pointer px-3 gap-2 text-green-100  ">
                    <p class="text-sm md:text-base">Follow Gplant</p>
                    <div class="flex items-center gap-1">
                        <i class="fa-brands fa-instagram text-green-100 hover:text-green-300 text-sm md:text-base" ></i>
                        <i class="fa-brands fa-x-twitter text-green-100 hover:text-green-300 text-sm md:text-base"></i>
                        <i class="fa-brands fa-tiktok text-green-100 hover:text-green-300 text-sm md:text-base"></i>
                    </div>
                </div>
            </div>
            <!-- <div class="flex ">
                <button class="border-right px-3 text-green-100 hover:text-green-300 text-sm md:text-base"><a href="/login">log in</a></button>
                <button class=" px-3 text-green-100 hover:text-green-300 text-sm md:text-base"><a href="/signup">sign up</a></button>
            </div> -->
            <div class="flex items-center">
                
                <a href="/"><img src="{{ url_for('static', filename='asset/logo.png')}}" alt="logo" width="40" height="40" ></a>
            </div>
        </div>
    </footer>

    <script 
    type="text/javascript" 
    src="{{ url_for('static', filename='index.js') }}">

    </script>
</body>
</html>